.cards{
  
  height: 370px;
  background-color: #ddd;
  text-align: center;
  margin-top: 5%;
  transition: 0.3s;
}
.cards:hover {
  transform: translateY(-5px);
}


.mens h1{
  text-align: center;
}
.cardimg{
padding-top: 10px;
  width: 100%;
  height: 200px;
  overflow: hidden;
  transition: all 2s;
}
.cardimg img{
  width: 80%;
  height: 200px;
  mix-blend-mode: darken;
  transition: all 2s;
  /* object-fit: contain; */

  /* mix-blend-mode: color-dodge; */
  /* mix-blend-mode:multiply; */
}



.grid{
  display: grid;
  grid-template-columns: 22% 22% 22% 22%;
  justify-content: center;
  gap: 20px;
}
.CartBtn {
  margin: auto;
  width: 140px;
  height: 40px;
  border-radius: 12px;
  border: none;
  background-color: rgb(255, 208, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition-duration: .5s;
  overflow: hidden;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.103);
  position: relative;
}

.IconContainer {
  position: absolute;
  left: -50px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 2;
  transition-duration: .5s;
}

.icon {
  border-radius: 1px;
}

.text3 {
  height: 100%;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(17, 17, 17);
  z-index: 1;
  transition-duration: .5s;
  font-size: 1.04em;
  font-weight: 600;
}

.CartBtn:hover .IconContainer {
  transform: translateX(58px);
  border-radius: 40px;
  transition-duration: .5s;
}

.CartBtn:hover .text3 {
  transform: translate(10px,0px);
  transition-duration: .5s;
}

.CartBtn:active {
  transform: scale(0.95);
  transition-duration: .5s;
}
.content{
  font-family: "Poppins", sans-serif;
  color: black;
}
.content i{
  color: green;
  font-weight: 700;
}
.btns{
  display: flex;
  justify-content: space-evenly;
}

.btn2men{
  /* margin: auto; */
  width: 100px;
  height: 40px;
  border-radius: 12px;
  border: none;
  background-color: rgb(239, 178, 35);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition-duration: .5s;
  overflow: hidden;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.103);
  position: relative;
  font-weight: 500;
}
.btn2:hover {
  background: #4036a5;
  border: 2px solid black;
 }

 .remove  button:hover .fa-eye{
  color: white;
  transform: translate(-15px);
 }
 .cartshop{
  background-color:rgb(255, 208, 0);

 }
 .cartsee{
  background-color: rgb(250, 248, 248);
 }

@media (max-width:768px) {
  .grid{
      grid-template-columns: repeat(3,30%); 
  }
  
}
@media (max-width:576px) {
  .grid{
      grid-template-columns: repeat(2,45%); 
  }
  
}